/*
 * Keychron B1 Pro matrix probe keymap
 *
 * Every electrical scan coordinate emits a token of the form:
 *   RrCcc<space>
 *
 * Example:
 *   R0C00 R3C14 R7C05
 *
 * The final five entries (R8C00..R8C04) are the direct GPIO inputs
 * in Keychron's composite scanner.
 *
 * IMPORTANT: This is diagnostic firmware, not a usable typing layout.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include <dt-bindings/zmk/outputs.h>

/ {
    /*
     * Keychron's behavior_outputs node is declared /omit-if-no-ref/.
     * Several Keychron-specific source files call helper functions that are
     * implemented by behavior_outputs.c, so keep a DT reference to &out even
     * though the diagnostic layer itself does not use output switching.
     */
    ZMK_MACRO(probe_keep_outputs, bindings = <&out OUT_BLE>;)

    ZMK_MACRO(probe_r0c00, bindings = <&kp R &kp N0 &kp C &kp N0 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r0c01, bindings = <&kp R &kp N0 &kp C &kp N0 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r0c02, bindings = <&kp R &kp N0 &kp C &kp N0 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r0c03, bindings = <&kp R &kp N0 &kp C &kp N0 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r0c04, bindings = <&kp R &kp N0 &kp C &kp N0 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r0c05, bindings = <&kp R &kp N0 &kp C &kp N0 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r0c06, bindings = <&kp R &kp N0 &kp C &kp N0 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r0c07, bindings = <&kp R &kp N0 &kp C &kp N0 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r0c08, bindings = <&kp R &kp N0 &kp C &kp N0 &kp N8 &kp SPACE>;)
    ZMK_MACRO(probe_r0c09, bindings = <&kp R &kp N0 &kp C &kp N0 &kp N9 &kp SPACE>;)
    ZMK_MACRO(probe_r0c10, bindings = <&kp R &kp N0 &kp C &kp N1 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r0c11, bindings = <&kp R &kp N0 &kp C &kp N1 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r0c12, bindings = <&kp R &kp N0 &kp C &kp N1 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r0c13, bindings = <&kp R &kp N0 &kp C &kp N1 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r0c14, bindings = <&kp R &kp N0 &kp C &kp N1 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r0c15, bindings = <&kp R &kp N0 &kp C &kp N1 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r0c16, bindings = <&kp R &kp N0 &kp C &kp N1 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r0c17, bindings = <&kp R &kp N0 &kp C &kp N1 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r1c00, bindings = <&kp R &kp N1 &kp C &kp N0 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r1c01, bindings = <&kp R &kp N1 &kp C &kp N0 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r1c02, bindings = <&kp R &kp N1 &kp C &kp N0 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r1c03, bindings = <&kp R &kp N1 &kp C &kp N0 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r1c04, bindings = <&kp R &kp N1 &kp C &kp N0 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r1c05, bindings = <&kp R &kp N1 &kp C &kp N0 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r1c06, bindings = <&kp R &kp N1 &kp C &kp N0 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r1c07, bindings = <&kp R &kp N1 &kp C &kp N0 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r1c08, bindings = <&kp R &kp N1 &kp C &kp N0 &kp N8 &kp SPACE>;)
    ZMK_MACRO(probe_r1c09, bindings = <&kp R &kp N1 &kp C &kp N0 &kp N9 &kp SPACE>;)
    ZMK_MACRO(probe_r1c10, bindings = <&kp R &kp N1 &kp C &kp N1 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r1c11, bindings = <&kp R &kp N1 &kp C &kp N1 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r1c12, bindings = <&kp R &kp N1 &kp C &kp N1 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r1c13, bindings = <&kp R &kp N1 &kp C &kp N1 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r1c14, bindings = <&kp R &kp N1 &kp C &kp N1 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r1c15, bindings = <&kp R &kp N1 &kp C &kp N1 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r1c16, bindings = <&kp R &kp N1 &kp C &kp N1 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r1c17, bindings = <&kp R &kp N1 &kp C &kp N1 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r2c00, bindings = <&kp R &kp N2 &kp C &kp N0 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r2c01, bindings = <&kp R &kp N2 &kp C &kp N0 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r2c02, bindings = <&kp R &kp N2 &kp C &kp N0 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r2c03, bindings = <&kp R &kp N2 &kp C &kp N0 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r2c04, bindings = <&kp R &kp N2 &kp C &kp N0 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r2c05, bindings = <&kp R &kp N2 &kp C &kp N0 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r2c06, bindings = <&kp R &kp N2 &kp C &kp N0 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r2c07, bindings = <&kp R &kp N2 &kp C &kp N0 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r2c08, bindings = <&kp R &kp N2 &kp C &kp N0 &kp N8 &kp SPACE>;)
    ZMK_MACRO(probe_r2c09, bindings = <&kp R &kp N2 &kp C &kp N0 &kp N9 &kp SPACE>;)
    ZMK_MACRO(probe_r2c10, bindings = <&kp R &kp N2 &kp C &kp N1 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r2c11, bindings = <&kp R &kp N2 &kp C &kp N1 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r2c12, bindings = <&kp R &kp N2 &kp C &kp N1 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r2c13, bindings = <&kp R &kp N2 &kp C &kp N1 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r2c14, bindings = <&kp R &kp N2 &kp C &kp N1 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r2c15, bindings = <&kp R &kp N2 &kp C &kp N1 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r2c16, bindings = <&kp R &kp N2 &kp C &kp N1 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r2c17, bindings = <&kp R &kp N2 &kp C &kp N1 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r3c00, bindings = <&kp R &kp N3 &kp C &kp N0 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r3c01, bindings = <&kp R &kp N3 &kp C &kp N0 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r3c02, bindings = <&kp R &kp N3 &kp C &kp N0 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r3c03, bindings = <&kp R &kp N3 &kp C &kp N0 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r3c04, bindings = <&kp R &kp N3 &kp C &kp N0 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r3c05, bindings = <&kp R &kp N3 &kp C &kp N0 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r3c06, bindings = <&kp R &kp N3 &kp C &kp N0 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r3c07, bindings = <&kp R &kp N3 &kp C &kp N0 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r3c08, bindings = <&kp R &kp N3 &kp C &kp N0 &kp N8 &kp SPACE>;)
    ZMK_MACRO(probe_r3c09, bindings = <&kp R &kp N3 &kp C &kp N0 &kp N9 &kp SPACE>;)
    ZMK_MACRO(probe_r3c10, bindings = <&kp R &kp N3 &kp C &kp N1 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r3c11, bindings = <&kp R &kp N3 &kp C &kp N1 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r3c12, bindings = <&kp R &kp N3 &kp C &kp N1 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r3c13, bindings = <&kp R &kp N3 &kp C &kp N1 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r3c14, bindings = <&kp R &kp N3 &kp C &kp N1 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r3c15, bindings = <&kp R &kp N3 &kp C &kp N1 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r3c16, bindings = <&kp R &kp N3 &kp C &kp N1 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r3c17, bindings = <&kp R &kp N3 &kp C &kp N1 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r4c00, bindings = <&kp R &kp N4 &kp C &kp N0 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r4c01, bindings = <&kp R &kp N4 &kp C &kp N0 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r4c02, bindings = <&kp R &kp N4 &kp C &kp N0 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r4c03, bindings = <&kp R &kp N4 &kp C &kp N0 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r4c04, bindings = <&kp R &kp N4 &kp C &kp N0 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r4c05, bindings = <&kp R &kp N4 &kp C &kp N0 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r4c06, bindings = <&kp R &kp N4 &kp C &kp N0 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r4c07, bindings = <&kp R &kp N4 &kp C &kp N0 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r4c08, bindings = <&kp R &kp N4 &kp C &kp N0 &kp N8 &kp SPACE>;)
    ZMK_MACRO(probe_r4c09, bindings = <&kp R &kp N4 &kp C &kp N0 &kp N9 &kp SPACE>;)
    ZMK_MACRO(probe_r4c10, bindings = <&kp R &kp N4 &kp C &kp N1 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r4c11, bindings = <&kp R &kp N4 &kp C &kp N1 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r4c12, bindings = <&kp R &kp N4 &kp C &kp N1 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r4c13, bindings = <&kp R &kp N4 &kp C &kp N1 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r4c14, bindings = <&kp R &kp N4 &kp C &kp N1 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r4c15, bindings = <&kp R &kp N4 &kp C &kp N1 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r4c16, bindings = <&kp R &kp N4 &kp C &kp N1 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r4c17, bindings = <&kp R &kp N4 &kp C &kp N1 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r5c00, bindings = <&kp R &kp N5 &kp C &kp N0 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r5c01, bindings = <&kp R &kp N5 &kp C &kp N0 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r5c02, bindings = <&kp R &kp N5 &kp C &kp N0 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r5c03, bindings = <&kp R &kp N5 &kp C &kp N0 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r5c04, bindings = <&kp R &kp N5 &kp C &kp N0 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r5c05, bindings = <&kp R &kp N5 &kp C &kp N0 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r5c06, bindings = <&kp R &kp N5 &kp C &kp N0 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r5c07, bindings = <&kp R &kp N5 &kp C &kp N0 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r5c08, bindings = <&kp R &kp N5 &kp C &kp N0 &kp N8 &kp SPACE>;)
    ZMK_MACRO(probe_r5c09, bindings = <&kp R &kp N5 &kp C &kp N0 &kp N9 &kp SPACE>;)
    ZMK_MACRO(probe_r5c10, bindings = <&kp R &kp N5 &kp C &kp N1 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r5c11, bindings = <&kp R &kp N5 &kp C &kp N1 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r5c12, bindings = <&kp R &kp N5 &kp C &kp N1 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r5c13, bindings = <&kp R &kp N5 &kp C &kp N1 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r5c14, bindings = <&kp R &kp N5 &kp C &kp N1 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r5c15, bindings = <&kp R &kp N5 &kp C &kp N1 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r5c16, bindings = <&kp R &kp N5 &kp C &kp N1 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r5c17, bindings = <&kp R &kp N5 &kp C &kp N1 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r6c00, bindings = <&kp R &kp N6 &kp C &kp N0 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r6c01, bindings = <&kp R &kp N6 &kp C &kp N0 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r6c02, bindings = <&kp R &kp N6 &kp C &kp N0 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r6c03, bindings = <&kp R &kp N6 &kp C &kp N0 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r6c04, bindings = <&kp R &kp N6 &kp C &kp N0 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r6c05, bindings = <&kp R &kp N6 &kp C &kp N0 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r6c06, bindings = <&kp R &kp N6 &kp C &kp N0 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r6c07, bindings = <&kp R &kp N6 &kp C &kp N0 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r6c08, bindings = <&kp R &kp N6 &kp C &kp N0 &kp N8 &kp SPACE>;)
    ZMK_MACRO(probe_r6c09, bindings = <&kp R &kp N6 &kp C &kp N0 &kp N9 &kp SPACE>;)
    ZMK_MACRO(probe_r6c10, bindings = <&kp R &kp N6 &kp C &kp N1 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r6c11, bindings = <&kp R &kp N6 &kp C &kp N1 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r6c12, bindings = <&kp R &kp N6 &kp C &kp N1 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r6c13, bindings = <&kp R &kp N6 &kp C &kp N1 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r6c14, bindings = <&kp R &kp N6 &kp C &kp N1 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r6c15, bindings = <&kp R &kp N6 &kp C &kp N1 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r6c16, bindings = <&kp R &kp N6 &kp C &kp N1 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r6c17, bindings = <&kp R &kp N6 &kp C &kp N1 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r7c00, bindings = <&kp R &kp N7 &kp C &kp N0 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r7c01, bindings = <&kp R &kp N7 &kp C &kp N0 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r7c02, bindings = <&kp R &kp N7 &kp C &kp N0 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r7c03, bindings = <&kp R &kp N7 &kp C &kp N0 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r7c04, bindings = <&kp R &kp N7 &kp C &kp N0 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r7c05, bindings = <&kp R &kp N7 &kp C &kp N0 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r7c06, bindings = <&kp R &kp N7 &kp C &kp N0 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r7c07, bindings = <&kp R &kp N7 &kp C &kp N0 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r7c08, bindings = <&kp R &kp N7 &kp C &kp N0 &kp N8 &kp SPACE>;)
    ZMK_MACRO(probe_r7c09, bindings = <&kp R &kp N7 &kp C &kp N0 &kp N9 &kp SPACE>;)
    ZMK_MACRO(probe_r7c10, bindings = <&kp R &kp N7 &kp C &kp N1 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r7c11, bindings = <&kp R &kp N7 &kp C &kp N1 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r7c12, bindings = <&kp R &kp N7 &kp C &kp N1 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r7c13, bindings = <&kp R &kp N7 &kp C &kp N1 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r7c14, bindings = <&kp R &kp N7 &kp C &kp N1 &kp N4 &kp SPACE>;)
    ZMK_MACRO(probe_r7c15, bindings = <&kp R &kp N7 &kp C &kp N1 &kp N5 &kp SPACE>;)
    ZMK_MACRO(probe_r7c16, bindings = <&kp R &kp N7 &kp C &kp N1 &kp N6 &kp SPACE>;)
    ZMK_MACRO(probe_r7c17, bindings = <&kp R &kp N7 &kp C &kp N1 &kp N7 &kp SPACE>;)
    ZMK_MACRO(probe_r8c00, bindings = <&kp R &kp N8 &kp C &kp N0 &kp N0 &kp SPACE>;)
    ZMK_MACRO(probe_r8c01, bindings = <&kp R &kp N8 &kp C &kp N0 &kp N1 &kp SPACE>;)
    ZMK_MACRO(probe_r8c02, bindings = <&kp R &kp N8 &kp C &kp N0 &kp N2 &kp SPACE>;)
    ZMK_MACRO(probe_r8c03, bindings = <&kp R &kp N8 &kp C &kp N0 &kp N3 &kp SPACE>;)
    ZMK_MACRO(probe_r8c04, bindings = <&kp R &kp N8 &kp C &kp N0 &kp N4 &kp SPACE>;)

    /* Preserve an easy bootloader path.
     * Under the old B1 transform, physical Fn and '-' are RC(2,9)
     * and RC(6,8). Since Fn + '-' still worked on the user's newer
     * keyboard, these raw coordinates are known-good.
     */
    ZMK_MACRO(en_bootloader, bindings = <&bootloader>;)

    long_press_bootloader: long_press_bootloader {
        compatible = "zmk,behavior-hold-tap";
        label = "MATRIX_PROBE_BOOT";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <3000>;
        bindings = <&en_bootloader>, <&none>;
    };

    combos {
        compatible = "zmk,combos";

        probe_bootloader {
            timeout-ms = <1000>;
            key-positions = <45 116>;
            bindings = <&long_press_bootloader 0 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        probe_layer {
            bindings = <
                &probe_r0c00 &probe_r0c01 &probe_r0c02 &probe_r0c03 &probe_r0c04 &probe_r0c05
                &probe_r0c06 &probe_r0c07 &probe_r0c08 &probe_r0c09 &probe_r0c10 &probe_r0c11
                &probe_r0c12 &probe_r0c13 &probe_r0c14 &probe_r0c15 &probe_r0c16 &probe_r0c17
                &probe_r1c00 &probe_r1c01 &probe_r1c02 &probe_r1c03 &probe_r1c04 &probe_r1c05
                &probe_r1c06 &probe_r1c07 &probe_r1c08 &probe_r1c09 &probe_r1c10 &probe_r1c11
                &probe_r1c12 &probe_r1c13 &probe_r1c14 &probe_r1c15 &probe_r1c16 &probe_r1c17
                &probe_r2c00 &probe_r2c01 &probe_r2c02 &probe_r2c03 &probe_r2c04 &probe_r2c05
                &probe_r2c06 &probe_r2c07 &probe_r2c08 &probe_r2c09 &probe_r2c10 &probe_r2c11
                &probe_r2c12 &probe_r2c13 &probe_r2c14 &probe_r2c15 &probe_r2c16 &probe_r2c17
                &probe_r3c00 &probe_r3c01 &probe_r3c02 &probe_r3c03 &probe_r3c04 &probe_r3c05
                &probe_r3c06 &probe_r3c07 &probe_r3c08 &probe_r3c09 &probe_r3c10 &probe_r3c11
                &probe_r3c12 &probe_r3c13 &probe_r3c14 &probe_r3c15 &probe_r3c16 &probe_r3c17
                &probe_r4c00 &probe_r4c01 &probe_r4c02 &probe_r4c03 &probe_r4c04 &probe_r4c05
                &probe_r4c06 &probe_r4c07 &probe_r4c08 &probe_r4c09 &probe_r4c10 &probe_r4c11
                &probe_r4c12 &probe_r4c13 &probe_r4c14 &probe_r4c15 &probe_r4c16 &probe_r4c17
                &probe_r5c00 &probe_r5c01 &probe_r5c02 &probe_r5c03 &probe_r5c04 &probe_r5c05
                &probe_r5c06 &probe_r5c07 &probe_r5c08 &probe_r5c09 &probe_r5c10 &probe_r5c11
                &probe_r5c12 &probe_r5c13 &probe_r5c14 &probe_r5c15 &probe_r5c16 &probe_r5c17
                &probe_r6c00 &probe_r6c01 &probe_r6c02 &probe_r6c03 &probe_r6c04 &probe_r6c05
                &probe_r6c06 &probe_r6c07 &probe_r6c08 &probe_r6c09 &probe_r6c10 &probe_r6c11
                &probe_r6c12 &probe_r6c13 &probe_r6c14 &probe_r6c15 &probe_r6c16 &probe_r6c17
                &probe_r7c00 &probe_r7c01 &probe_r7c02 &probe_r7c03 &probe_r7c04 &probe_r7c05
                &probe_r7c06 &probe_r7c07 &probe_r7c08 &probe_r7c09 &probe_r7c10 &probe_r7c11
                &probe_r7c12 &probe_r7c13 &probe_r7c14 &probe_r7c15 &probe_r7c16 &probe_r7c17
                &probe_r8c00 &probe_r8c01 &probe_r8c02 &probe_r8c03 &probe_r8c04
            >;
        };
    };
};
